<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio Cliente - ClickBuy</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@900&family=Roboto:wght@500&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="../../../assets/colors/colors.css">
  <link rel="stylesheet" href="../inicio.css">
  <!--<script src="/../../../components/auth/auth.js"></script> Este codigo debe descomentarse cuando ya se haga la conexión con el backend para obtener el token-->
</head>
<body>
  <header>
    <div class="logo">
      <a href="inicioCliente.html">
        <img src="../../../assets/images/ClickBuy.png" alt="Logo ClickBuy" width="120" />
      </a>
    </div>
    <div class="nav-left">
      <div class="buttons">
        <button class="btn">Dir Envío</button>
        <select>
          <option>Filtro ▼</option>
        </select>
      </div>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscador" />
      <button id="searchButton">🔍</button>
    </div>
    <div class="nav-right">
      <div class="user-info">
        <span class="client-name">
          <i class="fa-solid fa-user"><strong>&nbsp;&nbsp;</strong></i>Cliente: <strong>&nbsp;</strong>
        </span>
        <button  id="btnConfig" class="btn-config" >
          <i class="fa-solid fa-gear"></i> Configuración 
        </button>
      </div>
    </div>
  </header>
  <nav id="menuDisplay" class="menuDisplay">
    <ul class="menuNav">
      <li class="menuList"><a class="list" href="../../perfiles/perfilUsuario.html">Mi Perfil</a></li>
      <li class="menuList"><a class="list" href="../../producto/historial-producto.html">Mis pedidos</a></li>
      <li class="menuList"><a class="list" href="../../metodo_pago/metodo_pago.html">Metodo de Pago</a></li>
      <li class="menuList"><a class="list" href="../../Chats/chatCliente.html">Chatear</a></li>
    </ul>
  </nav>
  <nav class="barra-navegacion">
    <ul>
      <li><a href="../../producto/ofertas.html">Ofertas</a></li>
      <li><a href="../../producto/tiendas.html">Tiendas</a></li>
      <li><a href="#">Categorías</a></li>
      <li><a href="../../producto/promociones.html">Promociones</a></li>
      <li><a href="#">Comprar de nuevo</a></li>
      <li><a href="#">Comida</a></li>
      <li><a href="../../producto/carrito.html">Carrito</a></li>
    </ul>
  </nav>

    <section class="seccion-productos" style="position: relative;">
        <div class="encabezado-ofertas">
            <h2>🔥 Ofertas del día</h2>
            <span id="reloj">TIEMPO RESTANTE: --:--:--</span>
        </div>
        <div class="contenedor-cards scroll-carrusel" id="carrusel">

        </div>
        <button class="flecha-derecha" onclick="moverCarrusel()">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
        <button class="flecha-izquierda" onclick="retrocederCarrusel()">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
    </section>

    <section class="seccion-categoria">
        <div class="categoria-card">
            <h3>LOOKS VIRALES</h3>
            <img class="banner" src="../../../assets/images/inicio/Categoria1/chica 1.png" class="img-banner"
                alt="Looks Virales">
            <div class="mini-productos">
                <img src="../../../assets/images/inicio/Categoria1/chica 2.png" alt="Look 1">
                <img src="../../../assets/images/inicio/Categoria1/chica 3.png" alt="Look 2">
                <img src="../../../assets/images/inicio/Categoria1/chica 4.png" alt="Look 3">
                <img src="../../../assets/images/inicio/Categoria1/chica 5.png" alt="Look 4">
            </div>
        </div>
        <div class="categoria-card">
            <h3>HOGAR</h3>
            <img class="banner" src="../../../assets/images/inicio/Categoria2/cocina.png" class="img-banner"
                alt="Looks Virales">
            <div class="mini-productos">
                <img src="../../../assets/images/inicio/Categoria2/cama.png" alt="Look 1">
                <img src="../../../assets/images/inicio/Categoria2/micro.png" alt="Look 2">
                <img src="../../../assets/images/inicio/Categoria2/sillas.png" alt="Look 3">
                <img src="../../../assets/images/inicio/Categoria2/tv.png" alt="Look 4">
            </div>
        </div>
        <div class="categoria-card">
            <h3>DEPORTES Y FITNESS</h3>
            <img class="banner" src="../../../assets/images/inicio/Categoria3/deporte1.png" class="img-banner"
                alt="Looks Virales">
            <div class="mini-productos">
                <img src="../../../assets/images/inicio/Categoria3/pesas.png" alt="Look 1">
                <img src="../../../assets/images/inicio/Categoria3/pesasdeporte.png" alt="Look 2">
                <img src="../../../assets/images/inicio/Categoria3/tapete.png" alt="Look 3">
                <img src="../../../assets/images/inicio/Categoria3/bci.png" alt="Look 4">
            </div>
        </div>
        <div class="categoria-card">
            <h3>DEPORTES Y FITNESS</h3>
            <img class="banner" src="../../../assets/images/inicio/Categoria3/deporte1.png" class="img-banner"
                alt="Looks Virales">
            <div class="mini-productos">
                <img src="../../../assets/images/inicio/Categoria3/pesas.png" alt="Look 1">
                <img src="../../../assets/images/inicio/Categoria3/pesasdeporte.png" alt="Look 2">
                <img src="../../../assets/images/inicio/Categoria3/tapete.png" alt="Look 3">
                <img src="../../../assets/images/inicio/Categoria3/bci.png" alt="Look 4">
            </div>
        </div>
    </section>
    <!--Relacionados-->
    <section class="relacionados">
        <div class="relacionados-encabezado">
            <h2>Relacionado con los artículos que viste</h2>
            <a href="#">Ver más</a>
        </div>
        <div class="relacionados-scroll">
            <div class="item-relacionado">
                <img src="../../../assets/images/inicio/relacionados/CPU.png" alt="Mesa 1">
            </div>
            <div class="item-relacionado">
                <img src="../../../assets/images/inicio/relacionados/Laptop.png" alt="Mesa 2">
            </div>
            <div class="item-relacionado">
                <img src="../../../assets/images/inicio/relacionados/pantalla.png" alt="Mesa 3">
            </div>
            <div class="item-relacionado">
                <img src="../../../assets/images/inicio/relacionados/pantalla.png" alt="Mesa 3">
            </div>
            <div class="item-relacionado">
                <img src="../../../assets/images/inicio/relacionados/pantalla.png" alt="Mesa 3">
            </div>
            <div class="item-relacionado">
                <img src="../../../assets/images/inicio/relacionados/pantalla.png" alt="Mesa 3">
            </div>
            <div class="item-relacionado">
                <img src="../../../assets/images/inicio/relacionados/pantalla.png" alt="Mesa 3">
            </div>
        </div>
    </section>
    <section class="carrusel-categorias">
        <h2>Categorías destacadas</h2>
        <div class="contenedor-categorias">
            <button class="flecha-categoria izquierda">&#10094;</button>
            <div class="lista-categorias" id="listaCategorias">
                <div class="categoria-icono">
                    <img src="../../../assets/images/inicio/CategoriasCarrusel/electronicos.png" alt="Electrónicos">
                    <p>Electrónicos</p>
                </div>
                <div class="categoria-item">
                    <div class="icono"><img src="../../../assets/images/inicio/CategoriasCarrusel/moda.png" alt="Moda"></div>
                    <p>Moda</p>
                </div>
                <div class="categoria-item">
                    <div class="icono"><img src="../../../assets/images/inicio/CategoriasCarrusel/hogar.png" alt="Hogar">
                    </div>
                    <p>Hogar</p>
                </div>
                <div class="categoria-item">
                    <div class="icono"><img src="../../../assets/images/inicio/CategoriasCarrusel/belleza.png" alt="Belleza">
                    </div>
                    <p>Belleza</p>
                </div>
                <div class="categoria-item">
                    <div class="icono"><img src="../../../assets/images/inicio/CategoriasCarrusel/fitness.png" alt="Fitness">
                    </div>
                    <p>Fitness</p>
                </div>
                <div class="categoria-item">
                    <div class="icono"><img src="../../../assets/images/inicio/CategoriasCarrusel/deportes.png"
                            alt="Deportes"></div>
                    <p>Deportes</p>
                </div>
                <div class="categoria-item">
                    <div class="icono"><img src="../../../assets/images/inicio/CategoriasCarrusel/comida.png" alt="Comida">
                    </div>
                    <p>Comida</p>
                </div>
            </div>
            <button class="flecha-categoria derecha">&#10095;</button>
        </div>
    </section>
  <footer>
    © 2025 ClickBuy. Todos los derechos reservados.
  </footer>
  <script src="../../../components/producto/funcionesCarrito.js"></script>
  <script src="inicioCliente.js" type="module"></script>
</body>
</html>