<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Categorías</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@900&family=Roboto:wght@500&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="../inicio/inicio.css" />
  <link rel="stylesheet" href="../../assets/colors/colors.css" />
  <link rel="stylesheet" href="../categorias/categorias.css" />
  <script defer src="categorias.js"></script>
</head>

<body>
  <header>
    <div class="logo">
      <a href="../../../index.html">
        <img src="../../assets/images/ClickBuy.png" alt="Logo ClickBuy" width="120" />
      </a>
    </div>
    <div class="nav-left">
      <div class="buttons">
        <button class="btn">Dir Envío</button>
        <select>
          <option>Filtro ▼</option>
        </select>
      </div>
    </div>

    <div class="search-bar">
      <input type="text" placeholder="Buscador" />
      <button id="searchButton">🔍</button>
    </div>

    <div class="nav-right">
      <div class="buttons">
        <button onclick="location.href='../../auth/Login/login.html'" class="btn">Iniciar Sesión</button>
        <button onclick="location.href='../../auth/Register/registroUsuario.html'" class="btn">Registrar</button>
      </div>
    </div>
  </header>

  <nav class="barra-navegacion">
    <ul>
      <li><a href="../producto/ofertas.html">Ofertas</a></li>
      <li><a href="../producto/tiendas.html">Tiendas</a></li>
      <li><a href="../categorias/categorias.html">Categorías</a></li>
      <li><a href="../producto/promociones.html">Promociones</a></li>
      <li><a href="#">Comprar de nuevo</a></li>
      <li><a href="#">Comida</a></li>
      <li><a href="../producto/carrito.html">Carrito</a></li>
    </ul>
  </nav>

<main class="contenedor">
  <section class="categorias-section">
   <h2 class="titulo-seccion">Explora por Categoría</h2>
    <div id="categorias-container" class="grid-categorias">
      <!-- Las tarjetas se generarán con JS -->
    </div>
  </section>
</main>


  <footer class="footer">
    <p>© 2025 ClickBuy. Todos los derechos reservados.</p>
  </footer>
</body>

</html>