<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Usuario</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@900&family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../inicio/inicio.css">
</head>

<body>
  <header>
    <div class="logo">
      <img src="../../assets/images/ClickBuy.png" alt="Logo ClickBuy">
    </div>
    <div class="nav-left">
      <div class="buttons">
        <button class="btn">Dir Envío</button>
        <select>
          <option>Filtro</option>
        </select>
      </div>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscador">
      <button>🔍</button>
    </div>
    <div class="nav-right">
      <div class="buttons">
        <button class="btn">Iniciar Sesion</button>
        <button class="btn">Registrar</button>
      </div>
    </div>
  </header>

  <nav>
    <div>Vender</div>
    <div>Ofertas</div>
    <div>Tiendas</div>
    <div>Categorías</div>
    <div>Promociones</div>
    <div>Comprar de nuevo</div>
    <div>Comida</div>
    <div>Carrito</div>
  </nav>

  <main>
    <section class="pedido-container">
      <div class="pedido-header">
        <h2>Edición de perfil de usuario </h2>
        <button class="btn">Regresar</button>
      </div>

      <div class="bloque">
        <h3>Información personal</h3>
        <label>Nombre:</label>
        <input type="text" class="form-input" placeholder="Tu nombre">
        <label>Apellido:</label>
        <input type="text" class="form-input" placeholder="Tu apellido">
        <label>CURP:</label>
        <input type="text" class="form-input" placeholder="CURP">
      </div>

      <div class="bloque">
        <h3>Información de contacto</h3>
        <label>Correo electrónico:</label>
        <input type="email" class="form-input" placeholder="correo@ejemplo.com">
        <label>Teléfono:</label>
        <input type="tel" class="form-input" placeholder="123-456-7890">
      </div>

      <div class="bloque">
        <h3>Cambiar contraseña</h3>
        <label>Contraseña actual:</label>
        <input type="password" class="form-input">
        <label>Nueva contraseña:</label>
        <input type="password" class="form-input">
        <label>Confirmar nueva contraseña:</label>
        <input type="password" class="form-input">
      </div>

      <div class="bloque">
        <h3>Imagen de perfil</h3>
        <input type="file" class="form-input" accept="image/*">
        <button class="btn" style="margin-top:10px">Actualizar foto</button>
      </div>

      <div class="pedido-acciones">
        <button class="btn">Aceptar</button>
        <button class="btn" style="background-color: var(--rojo); margin-left: 10px;">Cancelar</button>
      </div>
    </section>
  </main>

  <footer>
    © 2025 ClickBuy. Todos los derechos reservados.
  </footer>
</body>

</html>
