<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio Vendedor</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@900&family=Roboto:wght@500&display=swap">
  <link rel="stylesheet" href="../../../assets/colors/colors.css">
  <link rel="stylesheet" href="../inicio.css">
  <link rel="stylesheet" href="../vendedor.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  <header>
    <div class="logo">
      <a href="inicioVendedor.html">
        <img src="../../../assets/images/ClickBuy.png" alt="Logo ClickBuy" width="120" />
      </a>
    </div>
    <div class="nav-left">
      <div class="buttons">
        <button class="btn">Dir Envío</button>
        <select>
          <option>Filtro ▼</option>
        </select>
      </div>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscador" />
      <button id="searchButton">🔍</button>
    </div>
    <div class="nav-right">
      <div class="user-info">
        <span class="store-name">
          <i class="fa-solid fa-store"><strong>&nbsp;&nbsp;</strong></i> Tienda: <strong>&nbsp;</strong>
        </span>
        <button id="btnConfig" class="btn-config" onclick="abrirModalConfig()">
          <i class="fa-solid fa-gear"></i> Configuración
        </button>
      </div>
    </div>
  </header>
  <nav id="menuDisplay" class="menuDisplay">
    <ul class="menuNav">
      <li class="menuList"><a class="list" href="../../perfiles/perfilVendedor.html">Mi Perfil</a></li>
      <li class="menuList"><a class="list" href="../../metodo_pago/deposito_pago.html">Metodo de Pago</a></li>
      <li class="menuList"><a class="list" href="../../Vendedor/gestion-producto.html"">Mis Productos</a></li>
      <li class="menuList"><a class="list" href="../../Vendedor/creacion-producto.html">Crear Producto</a></li>
    </ul>
  </nav>
    <nav class="barra-navegacion">
        <ul>
            <li><a href="../../Vendedor/gestion-producto.html">Mis Productos</a>
            <li><a href="../../Vendedor/">Pedidos</a></li>
            <li><a href="#">Estadisticas</a></li>
            <li><a href="src/components/producto/promociones.html">Reseñas</a></li>
            <li><a href="../../Vendedor/perfil-tienda.html">Perfil Tienda</a></li>
             <li><a href="../../Vendedor/creacion-producto.html">Crear Producto</a></li>
          </ul>
    </nav>
  <div class="container">
    <aside>Aside</aside>
    <main>
      <div class="slider">Panel del vendedor</div>
      <div class="products">
        <div class="product-card"></div>
        <div class="product-card"></div>
        <div class="product-card"></div>
        <div class="product-card"></div>
        <div class="product-card"></div>
        <div class="product-card"></div>
      </div>
    </main>
    <aside>Aside</aside>
  </div>
  <footer>
    © 2025 ClickBuy. Todos los derechos reservados.
  </footer>
  <script src="inicioVendedor.js"></script>
</body>
</html>
