<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Visualización Producto - ClickBuy</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@900&family=Roboto:wght@500&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="../../assets/colors/colors.css" />
  <link rel="stylesheet" href="../inicio/inicio.css" />
  <link rel="stylesheet" href="./visualizacion-producto.css" />
</head>

<body>
  <header>
    <a class="logo" href="../../../index.html">
      <img src="../../assets/images/ClickBuy.png" alt="Logo ClickBuy" width="120" />
    </a>
    
    <div class="nav-left">
      <div class="buttons">
        <button class="btn">Dir Envío</button>
        <select>
          <option>Filtro</option>
        </select>
      </div>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscador" />
      <button class="btn">🔍</button>
    </div>
    <div class="nav-right">
      <div class="buttons">
        <button class="btn">Perfil</button>
        <button class="btn">Carrito</button>
      </div>
    </div>
  </header>

  <nav class="barra-navegacion">
    <ul>
      <li><a href="src/components/producto/ofertas.html">Ofertas</a></li>
      <li><a href="src/components/producto/tiendas.html">Tiendas</a></li>
      <li><a href="#">Categorías</a></li>
      <li><a href="src/components/producto/promociones.html">Promociones</a></li>
      <li><a href="#">Comprar de nuevo</a></li>
      <li><a href="#">Comida</a></li>
      <li><a href="src/components/producto/carrito.html">Carrito</a></li>
    </ul>
  </nav>

  <main class="producto-contenedor">
    <aside class="producto-aside"></aside>

    <section class="producto-detalle">
      <div class="producto-principal">

      </div>
    </section>

    <aside class="producto-aside">
      <div class="carrito" id="carrito">
        <button class="cerrar-carrito" onclick="cerrarCarrito()">Cerrar</button>
        <h2>Carrito de Compras</h2>
        <div class="productos-carrito" id="productos-carrito">
          <!-- Aqui se agregan los productos de forma dinamica -->
        </div>
      </div>

      <button class="abrir-carrito" onclick="abrirCarrito()">🛒 Ver Carrito</button>
  </main>

  <footer>
    © 2025 ClickBuy. Todos los derechos reservados.
  </footer>
  <script src="visualizacion-producto.js" type="module"></script>
</body>

</html>